.banana_wallpaper {
    background-image: url('../pics/banana_wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.flex-body {
    display: flex;
    flex-direction: column;
}

.selectable-image {
    cursor: pointer;
}

.show-more-images {
    cursor: pointer;
    text-decoration: underline;
}

.show-more-images.underline {
    text-decoration: underline;
}

.hidden {
    display: none;
}
