body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-image: url(../pics/banana_wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* Changed to gap */
  margin-top: 2rem; /* Added margin */
}

#previousImages {
  width: 12rem; /* Decreased width */
  height: 3rem; /* Decreased height */
  background-color: #007bff;
  padding: 0.5rem; /* Reduced padding */
  cursor: pointer;
  border-radius: 1.5rem; /* Reduced border radius */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Centered horizontally */
}

#previousImages p {
  font-size: 0.8rem; /* Decreased font size */
  font-weight: bold; /* Changed font weight */
  text-transform: uppercase; /* Converted text to uppercase */
}

#dropBox {
  width: 30em; /* Changed width to em units */
  height: 20em; /* Changed height to em units */
  background-color: #ffffff; /* Added background color */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px dashed #aaaaaa; /* Changed border color */
  border-radius: 2rem;
  margin: 0 auto; /* Centered horizontally */
}

#dropBox img {
  width: 5em; /* Changed image width to em units */
  height: 5em; /* Changed image height to em units */
  margin-bottom: 1rem; /* Adjusted margin */
  opacity: 0.7; /* Reduced opacity */
}

#dropBox p {
  font-size: 1.5rem; /* Changed font size to rem units */
  font-weight: bold; /* Changed font weight */
  color: #333333; /* Changed text color */
  margin-bottom: 1rem; /* Adjusted margin */
}

.welcome-message {
  font-size: 2rem; /* Changed font size to rem units */
  color: #333333; /* Changed text color */
  margin-bottom: 1rem; /* Adjusted margin */
  text-align: center; /* Centered text */
}

.link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Changed to column layout */
  margin-top: 2rem; /* Added margin */
}

.text-next-to-link {
  font-size: 1.5rem; /* Changed font size to rem units */
  color: #666666; /* Changed text color */
  margin-top: 1rem; /* Added margin */
}

.link-container a {
  text-decoration: none;
  color: #007bff; /* Changed link color */
}