<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Homepage</title>

  <link rel="stylesheet" href="{{url_for('static', filename='css/user.css')}}">

</head>
<body>

  <div id="signoutdiv">
    <button id="signout"><b>SIGN OUT</b></button>
  </div>

  <div class="container">
    <div class="welcome-message">Welcome, {{ username }}!</div>
    <a href="{{url_for('upload', username=username)}}">
      <div id="dropBox">
        <img src="{{url_for('static', filename='pics/plus-icon.png')}}" alt="Plus Sign">
        <p>Create new</p>
      </div>
    </a>

    <a href="{{url_for('history', username=username)}}">
      <div id="previousImages">
        <p>Show Previous Images</p>
      </div>
    </a>
  </div>

<script>
  let url = "{{ url_for('signin') }}"
</script>
<script src="{{url_for('static', filename='javascript/user.js')}}"></script>

</body>
</html>
