<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Homepage</title>

  <link rel="stylesheet" href="./css/user.css">

</head>
<body>

<div class="container">
  <div class="welcome-message">Welcome User!</div>
  <div id="dropBox" onclick="viewUploads()">
    <img src="../pics/plus-icon.png" alt="Plus Sign">
    <p>Create new</p>
  </div>

  <div id="previousImages" onclick="viewImages()">
    <p>Show Previous Images</p>
  </div>
</div>

<script src="./javascript/user.js"></script>

</body>
</html>
